﻿<nav>
    <ul>
        <li>
            {{#linkTo 'index'}}
            Home
            {{/linkTo}}
        </li>
        <li>
            {{#linkTo 'about'}}
            About
            {{/linkTo}}
        </li>
    </ul>
</nav>