﻿<script type="text/x-handlebars" data-template-name="todoList/index">
    <article class="todoList">
        <form onsubmit="event.preventDefault();">
            {{title}}
        </form>
        <ul>
            {{#each todos}}
            <li>
                {{#view App.TodoItemView}}
                {{title}}
                {{/view}}
            </li>
            {{/each}}
        </ul>
    </article>
</script>