﻿@{
    ViewBag.Title = "Jasmine testing";
}

<h2>@ViewBag.Title</h2>

<h3>VanillaJS</h3>
<div id="statistics1"></div>
<hr/>
<h3>AngularJS</h3>
<div id="statistics2"></div>
@*<hr />
<h3>EmberJS</h3>
<div id="statistics3"></div>
<hr />
<h3>ReactJS</h3>
<div id="statistics4"></div>
<hr />
<h3>BackboneJS</h3>
<div id="statistics5"></div>*@

@section styles 
{
    <link href="~/Content/vendor/jasmine/jasmine.css" rel="stylesheet" />
}

@section scripts
{
    <!-- For Jasmine Testing-->
    <script src="~/Scripts/vendor/jasmine/jasmine.js"></script>
    <script src="~/Scripts/vendor/jasmine/jasmine-html.js"></script>
    <script src="~/Scripts/vendor/jasmine/boot.js"></script>
    <script src="~/Scripts/vendor/moment/moment.js"></script>

    <!-- Angular -->
    <script src="~/Scripts/vendor/angular/angular.js"></script>
    <script src="~/Scripts/vendor/angular/angular-mocks.js"></script>
    <script>angular.module('app', []);</script>
    <script src="~/Scripts/app/angular/controllers/performance.controller.js"></script>
    <script src="~/Scripts/app/angular/controllers/charts.controller.js"></script>
    <script src="~/Scripts/app/angular/controllers/table.controller.js"></script>
    <script src="~/Scripts/app/angular/controllers/calendar.controller.js"></script>

    <!-- Ember -->

    <script>
        describe("Unit tests", function() {
            // VanillaJS Tests
            describe("Vanilla JavaScript", function() {
                var test1 = "array should add 1 million objects using vanilla JavaScript";

                it(test1, function() {
                    var start = moment();
                    var arr = [];
                    for (var i = 0; i < 1000000; i++) {
                        arr.push(i);
                    }
                    var end = moment();
                    var elapsed = end - start;
                    expect(arr.length).toEqual(1000000);
                    $("#statistics1").append("<h4>\"" + test1 + "\":</h4>").append("Elapsed: " + elapsed + "ms<br/>");
                });
            });

            // AngularJS Tests
            describe("AngularJS", function() {
                var test0 = "is AngularJS defined",
                    test1 = "array should add 1 million objects using AngularJS",
                    test2 = "foreach",
                    $controller = null,
                    $compile = null,
                    $rootScope = null;

                beforeEach(module('app'));
                beforeEach(inject(function(_$controller_, _$compile_, _$rootScope_) {
                    // The injector unwraps the underscores (_) from around the parameter names when matching
                    $controller = _$controller_;
                    $compile = _$compile_;
                    $rootScope = _$rootScope_;
                }));

                it(test0, function() {
                    var element = $compile("<div>number {{1 + 1}}</div>")($rootScope);
                    $rootScope.$digest();
                    expect(element.html()).toContain("number 2");
                });

                it(test1, function() {
                    var $scope = $rootScope.$new();
                    $controller('performance.controller', { $scope: $scope });
                    var start = moment();
                    $scope.addDigestedItems(10000000);
                    var end = moment();
                    var elapsed = end - start;
                    expect($scope.list.length).toEqual(10000000);
                    $("#statistics2").append("<h4>\"" + test1 + "\":</h4>").append("Elapsed: " + elapsed + "ms<br/>");
                });

                it(test2, function () {
                    var $scope = $rootScope.$new();
                    $controller('performance.controller', { $scope: $scope });
                    var start = moment();
                    for (var i = 0; i < 100; i++) {
                        $scope.list.push(i);
                        $compile("<div>{{list}}</div>")($scope);
                        $rootScope.$digest();
                    }
                    var end = moment();
                    var elapsed = end - start;
                    $("#statistics2").append("<h4>\"" + test2 + "\":</h4>").append("Elapsed: " + elapsed + "ms<br/>");
                });
            });

            //// EmberJS
            //describe("EmberJS", function() {

            //});

            //describe("ReactJS", function() {

            //});

            //describe("BackboneJS", function() {

            //});
        });
    </script>
}