﻿<div class="row">
    <div class="col col-md-12">
        <canvas id="line" class="chart chart-line" data="data"
                labels="labels" legend="true" series="series"
                click="onClick"></canvas>
    </div>
</div>    