﻿<div class="row">
    <div class="col col-md-6">
        <input type="text" name="performanceTest" ng-model="performance" class="form-control"/>

        <hr/>

        <pre>
for(var i = 0; i < 5000; i++) {
    $scope.list.push(i);
}
</pre>
        
        <h3>Test 1. Add 5000 items</h3>
        <button class="btn btn-default" ng-click="addItems()">Add 5000 items</button>
        <div ng-show="performanceTests.first.elapsed">
            Result: {{performanceTests.first.elapsed}}
        </div>
        <div class="well">
            <span ng-repeat="item in list">{{item}}: {{performance}}.</span>
        </div>
    </div>
</div>