﻿@*<script type="text/ng-template" id="table.html">
    <div class="row">
        <div class="col col-md-12">
            <div ui-grid="{ data: items }" class="myGrid"></div>
        </div>
    </div>
</script>*@

<div class="row">
    <div class="col col-md-12">
        <div ui-grid="{ data: items }" class="myGrid"></div>
    </div>
</div>