﻿@{
    ViewBag.Title = "Angular";
    ViewBag.JsFrameworks = "active";
}

@Html.Partial("_JsLibrarySelection")

<h2>@ViewBag.Title</h2>
<div ng-app="app">
    
    <div class="btn-group btn-group-justified" role="group">
        <a ui-sref="index" class="btn btn-default">Index</a>
        <a ui-sref="table" class="btn btn-default">Table</a>
        <a ui-sref="charts" class="btn btn-default">Charts</a>
        <a ui-sref="calendar" class="btn btn-default">Calendar</a>
        <a ui-sref="performance" class="btn btn-default">Performance</a>
        <a ui-sref="about" class="btn btn-default">About</a>
    </div>

    <div ui-view></div>

</div>

@section styles
{
    @Styles.Render("~/Content/fullcalendar")
    @Styles.Render("~/Content/angular")
}

@section scripts
{
    @Scripts.Render("~/bundles/chartjs")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/fullcalendar")
    @(HttpContext.Current.IsDebuggingEnabled ? Scripts.Render("~/bundles/angular") : Scripts.Render("~/bundles/angular-min"))
    @Scripts.Render("~/bundles/angularapp")
}
