﻿@{
    ViewBag.Title = "Backbone";
    ViewBag.JsFrameworks = "active";
}

@Html.Partial("_JsLibrarySelection")

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col col-md-6">
        <div id="view1"></div>
        <button class="btn btn-default" id="btn1">Click me</button>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/backbone")
    @Scripts.Render("~/bundles/backboneapp")
}