﻿@{
    ViewBag.Title = "CommonJs";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@Html.Partial("_JsLibrarySelection")

<h2>React</h2>

<div id="index"></div>
<div id="table"></div>
<div id="charts">
    <div id="chart1"></div>
    <div id="chart2"></div>
    <div id="chart3"></div>
    <div id="chart4"></div>
    <div id="chart5"></div>
    <div id="chart6"></div>
</div>
<div id="calendar"></div>
<div id="performance"></div>
<div id="about"></div>

<script src="~/Scripts/app/commonjs/build/main.js"></script>