﻿@{
    ViewBag.Title = "Ember";
    ViewBag.JsFrameworks = "active";
}
@Html.Partial("_JsLibrarySelection")
<h2>@ViewBag.Title</h2>
@* ReSharper disable once Html.CssIdNotUsed - author: target *@
<div id="emberapp"></div>

@Html.Partial(Url.Content("EmberTemplates/application"))
@Html.Partial(Url.Content("EmberTemplates/_navbar"))
@Html.Partial(Url.Content("EmberTemplates/about"))
@Html.Partial(Url.Content("EmberTemplates/index"))
@Html.Partial(Url.Content("EmberTemplates/table"))
@Html.Partial(Url.Content("EmberTemplates/charts"))
@Html.Partial(Url.Content("EmberTemplates/performance"))

@section styles
{
    @Styles.Render("~/Content/emberapp")
    @Styles.Render("~/Content/antiscroll")
}

@section scripts
{
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jquery-mousewheel")
    @Scripts.Render("~/bundles/antiscroll")
    @Scripts.Render("~/bundles/d3")
    @Scripts.Render("~/bundles/lodash")
    @Scripts.Render("~/bundles/ember")
    @Scripts.Render("~/bundles/emberapp")
    @Scripts.Render("~/bundles/jqueryval")
}