﻿@using Thesis.Extensions
@{
    ViewBag.Title = "React";
    ViewBag.JsFrameworks = "active";
}
@Html.Partial("_JsLibrarySelection")

<h2>@ViewBag.Title</h2>
@* ReSharper disable once Html.CssIdNotUsed *@
<div class="canvas-wrapper">
    <div id="reactapp"></div>
    <div id="chart0"></div>
    <div id="table1"></div>
</div>



@section scripts
{
    @*@Scripts.Render("~/bundles/requirejs")*@
    @*@Scripts.Render("~/bundles/chartjs")*@
    @*@Scripts.Render("~/bundles/react")*@
    @*@Scripts.Render("~/bundles/reactapp")*@

    <script src="@Url.Content("~/Scripts/vendor/requirejs/require.js")"></script>
    @Html.RequireJs("app/react/main", "someapp")
    @*<script>
        require(["/Scripts/app/react/main.js"], function () {
            require(["someapp"]);
        });
    </script>*@
}