﻿<div class="well">
    <h1>Keywords: "Two way bindings"</h1>
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=two+way+binding&cmpt=q&tz&tz&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script>
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=two+way+binding&cmpt=q&tz&tz&content=1&cid=GEO_TABLE_0_0&export=5&w=500&h=330"></script>
</div>

<div class="well">
    <h1>Keywords: "Angular js"</h1>
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=angular+js&cmpt=q&tz&tz&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script>
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=angular+js&cmpt=q&tz&tz&content=1&cid=GEO_TABLE_0_0&export=5&w=500&h=330"></script>
</div>

<div class="well">
    <h1>Keywords: "Ember js"</h1>
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=ember+js&cmpt=q&tz&tz&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script>
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=ember+js&cmpt=q&tz&tz&content=1&cid=GEO_TABLE_0_0&export=5&w=500&h=330"></script>
</div>

<div class="well">
    <h1>Keywords: "React js"</h1>
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=react+js&cmpt=q&tz&tz&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script>
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=react+js&cmpt=q&tz&tz&content=1&cid=GEO_TABLE_0_0&export=5&w=500&h=330"></script>
</div>


<div class="well">
    <h1>Keywords: "Backbone js"</h1>
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=backbone+js&cmpt=q&tz&tz&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script>
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=backbone+js&cmpt=q&tz&tz&content=1&cid=GEO_TABLE_0_0&export=5&w=500&h=330"></script>
</div>
