﻿<div class="well">
    <div class="row">
        <div class="col col-md-3 col-sm-6">
            <div class="row">
                <a href='@Url.Action("Angular", "Spas")' class="btn btn-default">
                    <img src='@Url.Content("~/Content/Images/Angular.jpg")' class="index-img" />
                </a>
            </div>
        </div>
        <div class="col col-md-3 col-sm-6">
            <a href='@Url.Action("Ember", "Spas")' class="btn btn-default">
                <img src='@Url.Content("~/Content/Images/Ember.png")' class="index-img" />
            </a>
        </div>
        <div class="col col-md-3 col-sm-6">
            <a href='@Url.Action("Commonjs", "Spas")' class="btn btn-default">
                <img src='@Url.Content("~/Content/Images/React.png")' class="index-img" />
            </a> 
        </div>
        <div class="col col-md-3 col-sm-6">
            <a href='@Url.Action("Backbone", "Spas")' class="btn btn-default">
                <img src='@Url.Content("~/Content/Images/Backbone.png")' class="index-img" />
            </a>
        </div>
    </div>
</div>
