﻿@using Microsoft.Ajax.Utilities
@functions
{
    private string ShowActive(string viewbag)
    {
        return viewbag.IsNullOrWhiteSpace() ? string.Empty : "active";
    }
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("JavaScript frameworks", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@ShowActive(ViewBag.Home)">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                <li class="dropdown @ShowActive(ViewBag.JsFrameworks)">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">JS frameworks <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Angular", "Angular", "Spas", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Ember", "Ember", "Spas", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("React", "Commonjs", "Spas", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Backbone", "Backbone", "Spas", new { area = "" }, null)</li>
                    </ul>
                </li>
                <li class="@ShowActive(ViewBag.Api)">@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                <li class="@ShowActive(ViewBag.About)">@Html.ActionLink("Google Statistics", "About", "Home", new {area = ""}, null)</li>
            </ul>
        </div>
    </div>
</div>