﻿<script type="text/x-handlebars" data-template-name="_navbar">

    <div class="btn-group btn-group-justified" role="group">
        {{#linkTo 'index' class="btn btn-default" }}Index{{/linkTo}}
        {{#linkTo 'table' class="btn btn-default" }}Table{{/linkTo}}
        {{#linkTo 'charts' class="btn btn-default" }}Charts{{/linkTo}}
        {{#linkTo 'calendar' class="btn btn-default" }}Calendar{{/linkTo}}
        {{#linkTo 'performance' class="btn btn-default" }}Performance{{/linkTo}}
        {{#linkTo 'about' class="btn btn-default"}}About{{/linkTo}}
    </div>
    
    <br />

</script>