﻿<script type="text/x-handlebars" data-template-name="application">
    <div id="body">
        {{partial 'navbar'}}
        <div id="main-content" class="container body-content">
            {{outlet}}
        </div>
    </div>
</script>