﻿<script type="text/x-handlebars" data-template-name="charts">
    <div class="col-md-10 col-md-offset-2 left-border main-content-container">
        <div class="chart-header">
            <h2>Vertical Bar Chart</h2>
        </div>

        <div class="example-container">
            <div class="chart-container">
                {{vertical-bar-chart
        maxBarThickness=maxBarThickness
        selectedSeedColor=selectedSeedColor
        data=data
        maxLabelHeight=maxLabelHeight
        withinGroupPadding=withinGroupPadding
        betweenGroupPadding=betweenGroupPadding
        stackBars=stackBars
                }}
            </div>
        </div>

        <div class="row bumper-30">
            <div class="col-md-6">
                <h4>Ember Bindings</h4>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Data</label>
                        <div class="col-lg-8">
                            {{view Ember.Select
              contentBinding="availableDataSets"
              valueBinding="selectedData"
              class="form-control"
                            }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Color</label>
                        <div class="col-lg-8">
                            {{view Ember.Select
              contentBinding="seedColorNames"
              valueBinding="selectedSeedColorName"
              class="form-control"
                            }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Rotated Label Height</label>
                        <div class="col-lg-8">
                            {{view App.ScrubberComponent min="20" max="100" valueBinding="maxLabelHeight"}}
                            <span class="help-block">Max Label Height: {{maxLabelHeight}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Between Group Padding</label>
                        <div class="col-lg-8">
                            {{view App.ScrubberComponent min="0" max="2" step="0.05" valueBinding="betweenGroupPadding"}}
                            <span class="help-block">Between Group Padding: {{betweenGroupPadding}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Within Group Padding</label>
                        <div class="col-lg-8">
                            {{view App.ScrubberComponent min="0" max="2" step="0.05" valueBinding="withinGroupPadding"}}
                            <span class="help-block">Within Group Padding: {{withinGroupPadding}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-8">
                            <div class="checkbox">
                                <label>
                                    {{view Ember.Checkbox checkedBinding="stackBars"}} Stacked Bars
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h4>JSON Data</h4>
                <div class="chart-json">
<pre>{{prettyPrintedData}}</pre>
                </div>
            </div>
        </div>
    </div>
</script>