﻿<script type="text/x-handlebars" data-template-name="performance">
    <div class="row">
        <div class="col col-md-12">
            {{message}}
            {{view Ember.TextField valueBinding="message" class="form-control" name="performanceTest"}}
            @*<input type="text" name="performanceTest" class="form-control" />*@

            <hr />

            <pre>
for(var i = 0; i < 5000; i++) {
    this.list.pushObject(i);
}
</pre>

            <button class="btn btn-default" {{action "addItems"}}>Add 5000 items</button>
            <div class="well">
                {{#each item in model}}
                    @*<span style="color: {{item}}">{{item}}: {{performance}}</span>*@
                    <span>{{item.id}}: {{message}}</span>
                {{/each}}
            </div>
        </div>
    </div>
</script>
