﻿<script type="text/x-handlebars" data-template-name="table">
    {{table-component
        hasFooter=false
        enableContentSelection=true
        columnsBinding="columns"
        contentBinding="content"
    }}
</script>