﻿<script type="text/x-handlebars" data-template-name="todoLists">
    <h2>Todo Lists</h2>

    <p class="error">{{error}}</p>
    <input type="button" {{action "addTodoList" }} class="isActive" value="Add Todo list"></input>

    <section id="lists">
        {{#each controller}}
        <article class="todoList">
            {{#if hasError}}
            <p class="error">{{error}}</p>
            {{/if}}
            <form onsubmit="event.preventDefault();">
                {{#view App.TodoListEditView valueBinding="title" class="required" }}
                {{/view}}
            </form>
            {{#if hasID}}
            <a href="#" class="deletelist" {{action "deleteTodoList" id}}>X</a>
            {{#link-to 'todoList' this class="singleList"}}=>{{/link-to}}
            {{/if}}
            <ul>
                {{#each todos}}
                <li>
                    {{#view App.TodoItemView}}

                    {{#if hasID}}
                    {{#view Ember.Checkbox checkedBinding="isDone"}}{{/view}}
                    {{/if}}

                    {{#view App.TodoItemEditView valueBinding="title" class="required" disabledBinding="isDone" }}
                    {{/view}}

                    {{#if hasID}}
                    <a href="#" {{action "deleteTodo" id on="click" }}>X</a>
                    {{/if}}

                    {{#if hasError}}
                    <p class="error">{{error}}</p>
                    {{/if}}

                    {{/view}}
                </li>
                {{/each}}
            </ul>

            {{#view App.TodoListNewView valueBinding="newTodoTitle" class="addTodo" placeholder="Type here to add"}}
            {{/view}}
        </article>
        {{/each}}
    </section>
</script>